services:
  mirakc:
    image: custom/mirakc
    container_name: mirakc
    init: true
    restart: unless-stopped
    privileged: true
    devices:
      - /dev/bus:/dev/bus
      - /dev/pxmlt8video0
      - /dev/pxmlt8video1
      - /dev/pxmlt8video2
      - /dev/pxmlt8video3
      - /dev/pxmlt8video4
      - /dev/pxmlt8video5
      - /dev/pxmlt8video6
      - /dev/pxmlt8video7
    ports:
      - 40772:40772
    volumes:
      - mirakc-epg:/var/lib/mirakc/epg
      - ./config.yml:/etc/mirakc/config.yml:ro
      - /mnt/usbhdd/recording:/var/lib/mirakc/recording #<----録画先を指定する>
      - /mnt/usbhdd/timeshift:/var/lib/mirakc/timeshift #<----タイムシフトの保存先を指定する>
    environment:
      TZ: Asia/Tokyo
      RUST_LOG: info

volumes:
  mirakc-epg:
    name: mirakc_epg
    external: true
